name: updated_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - tensorflow=2.14
  - keras
  - flask
  - requests
  - requests-oauthlib
  - oauthlib
  - certifi
  - ca-certificates
  - werkzeug
  - plotly
  - chart-studio
  - cython
  - imbalanced-learn
  - holidays
  - hijri-converter
  - korean_lunar_calendar
  - tensorboard
  - pip:
      - fbprophet  # Prophet is now separate from Conda
